[submodule "modular-express-typescript-starter-postgre"]
	path = modular-express-typescript-starter-postgre
	url = https://github.com/RidhuanDEV/modular-express-typescript-starter-postgre.git

[submodule "modular-golang"]
	path = modular-golang
	url = https://github.com/RidhuanDEV/golang-backend.git

[submodule "modular-NET"]
	path = modular-NET
	url = https://github.com/RidhuanDEV/NET-backend.git

[submodule "nestjs"]
	path = nestjs
	url = https://github.com/RidhuanDEV/modular-nestjs.git

[submodule "modular-fastapi"]
	path = modular-fastapi
	url = https://github.com/RidhuanDEV/modular-fastapi.git
